.howtoapply {

  figure {
    display: flex;
    align-items: center;
    figcaption {
      min-height: 480px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .howtoapply-text {
      }

    }
  }
}