html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.main {
  min-height: 6102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #fef8f5;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

figure,
p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.block-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #ee4d47;
}

.block-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  color: #402b2b;
}

.block-card {
  border-left: 10px solid #ed4d47;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgba(#fcddd4, 0.4);

  .card-text {
    padding: 15px 55px;
    max-width: 600px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #402b2b;
  }
}

.block-descr {
  margin-top: 40px;
  max-width: 550px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
  color: #402b2b;
}

// blocks

@import "blocks/header";
@import "blocks/about";
@import "blocks/howtoapply";
@import "blocks/faq";
@import "blocks/clients";
@import "blocks/footer";
